.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    
}
.red {background-color: red;
padding-bottom: 3px;}
.yellow {background-color: yellow;}
.green {background-color: green;}

.glow{
    box-shadow: 0px 0px 15px 12px orange;
}

.traffic-light{
    
    background-color: black;
    padding: 12px;
    display: inline-block;
    position: absolute; /* Position element relative to its parent */
  top: 10%; /* Position it halfway from the top */
  transform: translateY(-50%); /* Offset it vertically by half its height */
  left: 50%; /* Position it halfway from the left */
  transform: translateX(-50%); /* Offset it horizontally by half its width */
  margin: 0 auto; /* Can be used for additional fine-tuning */
  padding-top: 20px; /* Optional: Add some top padding for spacing */
  border-radius: 10%;
}

.traffic-handel{
    background-color: black;
    padding: 10px;
    display: inline-block;
    position: absolute; /* Position element relative to its parent */
    top: -55%; /* Position it halfway from the top */
    transform: translateY(-50%); /* Offset it vertically by half its height */
    left: 50%; /* Position it halfway from the left */
    transform: translateX(-50%); /* Offset it horizontally by half its width */
    padding-top: 20px; /* Optional: Add some top padding for spacing */
    border-radius: 10%;
    height: 200px;
    

}